In [1]:
import pandas as pd
import os

In [2]:
file='TGI 数据源/TGI指数案例数据.xlsx'
df = pd.read_excel(file)
df.head(10)

,品牌名称,买家昵称,付款日期,订单状态,实付金额,邮费,省份,城市,购买数量
0,viva la vida,做快淘饭,2019-04-18 00:03:00,交易成功,22.320,0,北京,北京市,1
1,viva la vida,作自有世祟,2019-02-17 00:03:51,交易成功,87.000,0,上海,上海市,1
2,viva la vida,作雪白室,2019-04-18 00:01:43,交易成功,97.660,0,福建省,福州市,2
3,viva la vida,作美女购物主,2019-01-11 23:35:01,交易成功,37.230,0,河南省,安阳市,3
4,viva la vida,作美女购物主,2019-02-18 14:16:03,交易成功,29.500,0,河南省,安阳市,2
5,viva la vida,作卢阳口才室,2019-06-16 04:15:56,交易成功,42.500,0,浙江省,衢州市,3
6,viva la vida,作饺子室,2019-06-16 19:35:06,交易成功,87.000,0,广东省,广州市,1
7,viva la vida,作韩式潮流服饰室,2019-01-11 16:56:37,交易成功,4.500,0,内蒙古自治区,呼伦贝尔市,1
8,viva la vida,作阿牛室,2019-01-11 06:29:28,交易成功,11.675,0,北京,北京市,1
9,viva la vida,佐o佐,2019-01-11 11:51:56,交易成功,59.500,0,广东省,广州市,1

In [4]:
df.describe()

                                付款日期          实付金额            邮费          购买数量
count                          28832  28832.000000  28832.000000  28832.000000
mean   2019-03-22 20:21:59.001752832     54.276731      0.245248      1.510960
min              2019-01-01 00:17:59      0.005000      0.000000      1.000000
25%    2019-01-25 09:19:12.384250112     23.748750      0.000000      1.000000
50%              2019-03-10 02:08:29     34.500000      0.000000      1.000000
75%    2019-05-19 22:27:21.750000128     84.500000      0.000000      2.000000
max       2019-06-30 22:46:22.511000   4225.000000     18.000000    100.000000
std                              NaN     50.795499      1.386458      1.483501

In [8]:
df_usr=df.groupby('买家昵称')['实付金额'].mean().reset_index()

In [13]:
unique_city_user = df.drop_duplicates(['城市','买家昵称'])

In [19]:


df_usr['高客单']=df_usr['实付金额'].apply(lambda x: 1 if x<50 else 0)

merge_city_user=pd.merge(left=unique_city_user,right=df_usr,on='买家昵称',how='left')
merge_city_user.head(3)

,品牌名称,买家昵称,付款日期,订单状态,实付金额_x,邮费,省份,城市,购买数量,高客单_x,实付金额_y,高客单_y
0,viva la vida,做快淘饭,2019-04-18 00:03:00,交易成功,22.32,0,北京,北京市,1,1,22.32,1
1,viva la vida,作自有世祟,2019-02-17 00:03:51,交易成功,87.00,0,上海,上海市,1,0,87.00,0
2,viva la vida,作雪白室,2019-04-18 00:01:43,交易成功,97.66,0,福建省,福州市,2,0,97.66,0

In [22]:
def high_price(tdf):
    return len(tdf[tdf['高客单_y']==1])/len(tdf)
df_city= merge_city_user.groupby('城市').apply(lambda x: high_price(x)).reset_index()
df_city.sort_values(['0'],ascending=False,inplace=True) 

df_city.head(10)

/tmp/ipykernel_25075/1677562141.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_city= merge_city_user.groupby('城市').apply(lambda x: high_price(x)).reset_index()

KeyError: '0'